body {
    margin: 0;
    line-height: normal;
}


.about-us-child {
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: #cbcda9;
    width: 1440px;
    height: 53px;
    overflow: hidden;
}
.home {
    position: relative;
    font-weight: 500;
}
.about-us1 {
    position: relative;
}
.home-parent {
    position: absolute;
    top: 88px;
    left: calc(50% - 164.5px);
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 52px;
    font-size: 18px;
    font-family: Inter;
}
.postive-caring-relationships-t-icon {
    position: absolute;
    top: 127px;
    left: 0px;
    width: 1440px;
    height: 530px;
    object-fit: cover;
}
.about-us-wrapper {
    height: 199px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    z-index: 0;
}
.welcome-to-grameen {
    margin: 0;
}
.welcome-to-grameen-container {
    position: absolute;
    height: 128.64%;
    width: 100%;
    top: 0%;
    left: 0%;
    display: inline-block;
    opacity: 0.5;
}
.welcome-to-grameen-shiksha-a {
    width: 532px;
    position: absolute;
    margin: 0 !important;
    top: 226px;
    left: 170px;
    height: 184px;
    z-index: 1;
    font-size: 15px;
    font-family: 'ADLaM Display';
}
.frame-parent {
    position: absolute;
    top: 211px;
    left: 284px;
    width: 872px;
    height: 410px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    font-size: 96px;
    color: #fff;
}
.frame-child {
    width: 309px;
    position: absolute;
    margin: 0 !important;
    top: 98px;
    left: 0px;
    background-color: #f3f25b;
    height: 3px;
    z-index: 0;
}
.ui-ux-designer {
    position: relative;
    font-weight: 600;
    white-space: pre-wrap;
    z-index: 1;
}
.frame-item {
    width: 100px;
    position: relative;
    height: 100px;
    z-index: 2;
}
.rectangle-parent {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    position: relative;
    gap: 10px;
}
.im-surajit-guin {
    width: 707px;
    position: relative;
    font-size: 20px;
    font-weight: 800;
    font-family: Lato;
    color: #848383;
    display: inline-block;
    height: 127px;
    flex-shrink: 0;
}
.frame-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 25px;
}
.frame-wrapper {
    position: absolute;
    top: 224px;
    left: 19px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}
.vector-icon {
    position: absolute;
    top: 117px;
    left: 761px;
    width: 453.7px;
    height: 450px;
}
.group-child {
    position: absolute;
    top: 721px;
    left: 19px;
    width: 453.7px;
    height: 450px;
}
.frame-inner {
    width: 309px;
    position: absolute;
    margin: 0 !important;
    top: 98px;
    left: 310px;
    background-color: #f3f25b;
    height: 3px;
    z-index: 0;
}
.frontend-designer {
    margin: 0;
    white-space: pre-wrap;
}
.content-creator-idea-container {
    width: 618px;
    position: relative;
    font-weight: 600;
    display: inline-block;
    flex-shrink: 0;
    z-index: 1;
}
.frame-child1 {
    width: 100px;
    position: relative;
    height: 100px;
    overflow: hidden;
    flex-shrink: 0;
    z-index: 2;
}
.rectangle-group {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-end;
    position: relative;
    gap: 10px;
}
.im-suvam-paul {
    width: 697px;
    position: relative;
    font-size: 20px;
    font-weight: 800;
    font-family: Lato;
    color: #848383;
    display: inline-block;
    height: 102px;
    flex-shrink: 0;
}
.frame-parent1 {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-start;
    gap: 25px;
}
.frame-div {
    position: absolute;
    top: 754px;
    left: 478px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-start;
    text-align: right;
}
.front-end-developer {
    position: relative;
    font-weight: 600;
    z-index: 1;
}
.im-samprit-nandi {
    width: 603px;
    position: relative;
    font-size: 20px;
    font-weight: 800;
    font-family: Lato;
    color: #848383;
    display: inline-block;
    height: 144px;
    flex-shrink: 0;
}
.frame-wrapper1 {
    position: absolute;
    top: 1339px;
    left: 19px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}
.surojitguin-photoroom-1-icon {
    position: absolute;
    top: 151px;
    left: 842px;
    width: 287px;
    height: 341px;
    object-fit: cover;
}
.frame {
    position: absolute;
    top: 151px;
    left: 838px;
    border-radius: 13px;
    border: 1px solid #000;
    box-sizing: border-box;
    width: 287px;
    height: 341px;
    overflow: hidden;
}
.frame-icon {
    position: absolute;
    top: 206px;
    left: 662px;
    width: 65.1px;
    height: 80px;
    overflow: hidden;
}
.frame-icon1 {
    position: absolute;
    top: 757px;
    left: 40px;
    width: 65.1px;
    height: 80px;
    overflow: hidden;
}
.frame-icon2 {
    position: absolute;
    top: 189px;
    left: 970px;
    width: 36.2px;
    height: 35px;
    overflow: hidden;
}
.frame-icon3 {
    position: absolute;
    top: 740px;
    left: 348px;
    width: 36.2px;
    height: 35px;
    overflow: hidden;
}
.whatsapp-image-2024-09-07-at-2 {
    position: absolute;
    top: 665px;
    left: 0px;
    width: 521.8px;
    height: 512.2px;
    object-fit: contain;
}
.frame-icon4 {
    position: absolute;
    top: 533px;
    left: 923px;
    width: 213.8px;
    height: 67.5px;
    overflow: hidden;
}
.frame-icon5 {
    position: absolute;
    top: 1084px;
    left: 301px;
    width: 213.8px;
    height: 67.5px;
    overflow: hidden;
}
.group-item {
    position: absolute;
    top: 1228px;
    left: 620px;
    width: 521.8px;
    height: 512.2px;
}
.preparing-students-to {
    position: relative;
    font-weight: 600;
}
.frame-icon6 {
    width: 283.6px;
    position: relative;
    height: 40px;
    overflow: hidden;
    flex-shrink: 0;
}
.preparing-students-to-achieve-parent {
    position: absolute;
    top: 0px;
    left: calc(50% - 433.35px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 15px;
    font-size: 45px;
}
.frame-group {
    position: absolute;
    top: 793px;
    left: 113px;
    width: 1214.7px;
    height: 1740.2px;
    font-size: 36px;
}
.team-members-parent {
    position: absolute;
    top: 0px;
    left: calc(50% - 154.23px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 15px;
    font-size: 45px;
    font-family: 'Source Serif Pro';
}
.whatsapp-image-2024-09-08-at-1 {
    position: absolute;
    top: 0px;
    left: 14.62px;
    width: 301.4px;
    height: 329.9px;
    object-fit: cover;
}
.group-inner {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 315.5px;
    height: 131.7px;
}
.rupam-biswas {
    position: absolute;
    top: 36.73px;
    left: 59.27px;
    font-weight: 600;
    display: inline-block;
    width: 256.4px;
    height: 50.1px;
}
.vector-parent {
    position: absolute;
    top: 268.27px;
    left: 0px;
    width: 315.7px;
    height: 131.7px;
}
.whatsapp-image-2024-09-08-at-1-parent {
    position: absolute;
    top: 145px;
    left: 454px;
    width: 316px;
    height: 400px;
    font-size: 32px;
}
.whatsapp-image-2024-09-08-at-11 {
    position: absolute;
    top: 0px;
    left: 21px;
    width: 224px;
    height: 361px;
    object-fit: cover;
}
.group-child1 {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 251.1px;
    height: 111.7px;
}
.sania-parveen {
    position: absolute;
    top: 43.65px;
    left: 82px;
    font-weight: 600;
}
.vector-group {
    position: absolute;
    top: 288.35px;
    left: 0px;
    width: 251.1px;
    height: 111.7px;
}
.whatsapp-image-2024-09-08-at-1-group {
    position: absolute;
    top: 145px;
    left: 0px;
    width: 251.1px;
    height: 400px;
}
.whatsapp-image-2024-09-16-at-1 {
    position: absolute;
    top: 0px;
    left: 20.96px;
    width: 201px;
    height: 361.3px;
    object-fit: cover;
}
.tanmoy-dey-wrapper {
    position: absolute;
    top: 33.65px;
    left: 72px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 10px;
}
.whatsapp-image-2024-09-16-at-1-parent {
    position: absolute;
    top: 145px;
    left: 985px;
    width: 251.1px;
    height: 400px;
}
.group-div {
    position: absolute;
    top: 25px;
    left: calc(50% - 612px);
    width: 1236.1px;
    height: 545px;
    font-size: 24px;
}
.im-rupam-biswas {
    position: absolute;
    top: 570px;
    left: calc(50% - 164px);
    text-align: center;
    display: inline-block;
    width: 343px;
    height: 164px;
}
.im-sania-parveen {
    position: absolute;
    top: 570px;
    left: calc(50% - 612px);
    display: inline-block;
    width: 362px;
    height: 132px;
}
.frame-child2 {
    position: absolute;
    top: 707px;
    left: 524px;
    border-radius: 69px;
    background-color: #e0ffba;
    width: 406px;
    height: 70px;
}
.frame-child3 {
    position: absolute;
    top: 707px;
    left: 61px;
    border-radius: 69px;
    background-color: #baffef;
    width: 406px;
    height: 70px;
}
.frame-child4 {
    position: absolute;
    top: 707px;
    left: 1019px;
    border-radius: 69px;
    background-color: #c9eaff;
    width: 406px;
    height: 70px;
}
.group-parent {
    position: absolute;
    top: 2567px;
    left: 0px;
    background-color: #fff;
    width: 1440px;
    height: 797px;
    overflow: hidden;
    font-size: 16px;
    font-family: Lato;
}
.why-its-works-parent {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 15px;
}
.frame-icon9 {
    width: 109.1px;
    position: relative;
    height: 100px;
    overflow: hidden;
    flex-shrink: 0;
}
.students-practice-at {
    width: 334px;
    position: relative;
    font-size: 18px;
    font-family: Lato;
    text-align: center;
    display: inline-block;
}
.personalized-learning-parent {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
}
.frame-parent5 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 24px;
}
.frame-icon10 {
    width: 129.6px;
    position: relative;
    height: 100px;
    overflow: hidden;
    flex-shrink: 0;
}
.frame-icon11 {
    width: 131.5px;
    position: relative;
    height: 100px;
    overflow: hidden;
    flex-shrink: 0;
}
.frame-parent4 {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 50px;
    font-size: 24px;
}
.frame-parent3 {
    position: absolute;
    top: calc(50% + 1498px);
    left: calc(50% - 551px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    font-size: 45px;
}
.about-us-item {
    position: absolute;
    top: 4008px;
    left: 0px;
    background-color: #f4ed5e;
    width: 1440px;
    height: 10px;
}
.idea-formation-content {
    position: absolute;
    top: 3296px;
    left: 51px;
    font-family: 'ADLaM Display';
    text-align: center;
    display: inline-block;
    width: 426px;
    height: 26px;
}
.full-stack-developer {
    position: absolute;
    top: 3293px;
    left: 517px;
    font-family: 'ADLaM Display';
    text-align: center;
    display: inline-block;
    width: 426px;
    height: 26px;
}
.professional-designer {
    position: absolute;
    top: 3296px;
    left: 1009px;
    font-family: 'ADLaM Display';
    text-align: center;
    display: inline-block;
    width: 426px;
    height: 26px;
}
.about-us {
    width: 100%;
    position: relative;
    background-color: #ffffe9;
    height: 4128px;
    overflow: hidden;
    text-align: left;
    font-size: 20px;
    color: #000;
    font-family: 'Source Serif Pro';
}

