.number1img,
.number2img,
.number3img,
.number5img,
.number7img {
  object-fit: cover; /* Ensures image fits the container while maintaining aspect ratio */
  border-radius: 8px; /* Adds rounded corners for a better look */
}

.number1img {
  margin: 10% 5%;
  height: auto;
  width: 100px; /* Fix width and allow height to adjust */
}

.number2img {
  margin: 15% 10%;
  width: 150px;
  height: auto; /* Automatically adjusts height */
}

.number3img {
  width: 100px;
  height: auto;
  margin: 20% 15%;
}

.number5img {
  width: 120px;
  height: auto;
  margin: 25% 5%;
}

.number7img {
  width: 120px;
  height: auto;
  margin: 20% 15%;
}


@media (max-width: 768px) {
    .number1img,
    .number2img,
    .number3img,
    .number5img,
    .number7img {
      width: 80px;
      height: auto; /* Maintain aspect ratio */
      margin: 10px;
    }
  }