h1 {
  align-items: center;
  text-align: center;
  background-color: blue;
  color: white;
}

ul {
  list-style-type: none;
  padding: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
